<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEBSITE | <%= title %></title>
    
    <style>
        body{
    .logo{
        width: 200px;
    }
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #BE9D6A;
    position: sticky; 
    top:0;
    left:0;
}

#navbar{
    display: flex;
    align-items: centre;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
}

#navbar li a{
    text-decoration: none;
    font-size: 16 px;
    font-weight: 600;
    color: #373434

}

#navbar li a:hover{
    color: white;
}

#dress{
    background-image:url(/images/img1.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

#ab1{
    background-color: #CBB595;
    padding: 50px 50px;
    margin: 5px;
   
}

#dress h2{
    color: #616951;
}

.p1{
    padding: 40px 80px;
}

#product{
    text-align: center;
}

.cart li a{
    text-decoration: none;
    font-size: 16 px;
    font-weight: 600;
    color: #373434

}

.cart li a:hover{
    color: white;
}

#product .ab3{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border-radius: 1px #cce7d0;
    cursor: pointer;
    margin: 15px 0;
    box-shadow: 20px 20px 30px #a9a3a3;

}

#product .ab3:hover{
    box-shadow:20px 20px 30px #363537;
}

#product .ab3 img{
    width: 100%;
    border-radius: 20px;
}
#product .ab3 h4{
    color: #616951;
}

#product .ab2{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;

}

#product{
    background-color: #dacab2;
}
#product ab2{
    background-color: aliceblue;
}
.pro{
    background-color: #CBB595;
    height: 100px;
    display: flex;
    justify-content: center;
}



.content{
              margin-left: 20px;
            }
            /* index styles */
            /* details styles */
            /* create styles */
            .create-blog form{
              max-width: 400px;
              margin: 0 auto;
            }
            .create-blog input,
            .create-blog textarea{
              display: block;
              width: 100%;
              margin: 10px 0;
              padding: 8px;
            }
            .create-blog label{
              display: block;
              margin-top: 24px;
            }
            textarea{
              height: 120px;
            }
            .create-blog button{
              margin-top: 20px;
              background: crimson;
              color: white;
              padding: 6px;
              border: 0;
              font-size: 1.2em;
              cursor: pointer;
            }

            .container{
    display:flex;
    
    width: 70%;
    margin-bottom: 30px;
}

#root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

}

.sidebar{
    width: 40%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}
.head{
    background-color: #BE9D6A;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}
    </style>
    
</head>