<section id="header">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
    <a href="#"><img src="/images/standout.png" class="logo" alt=""></a>  
    <div>
        <ul id="navbar">
            <li><a href="/" >HOME</a></li>
            <li><a href="/about">ABOUT US</a></li>
            <li><a href="/shop">SHOP</a></li>
            <li><a href="/login">LOGIN INFO</a></li>
            <li><a href="/cart"><i class="far fa-shopping-bag "></i></a></li>
    
        </ul>
    </div>
</section>

