<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs")%>
<body>
    <%- include("../partials/nav.ejs")%>
    <h1>ABOUT US</h1>
    <p>Welcome to STANDOUT, where fashion meets sustainability! We're a clothing brand committed to stylish garments with a minimal environmental impact. Our diverse collections offer timeless designs that embody elegance and eco-consciousness. We prioritize sustainable materials like organic cotton, recycled polyester, and regenerated fibers to reduce our carbon footprint and preserve natural resources. Ethical production practices are paramount, ensuring safe conditions and fair wages for our skilled artisans. Embracing slow fashion, our durable and timeless pieces promote conscious consumption and waste reduction. Join us on our journey towards an ethical and eco-friendly fashion industry. Make a STANDOUT impact on the world, one stylish and sustainable garment at a time.</p>
</body>
</html>