<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs")%>
<body>
    <%- include("../partials/nav.ejs")%>

    

    <section id="dress">
        <div id="ab1">
            <h2 style="font-size: 200%;">Sustainble Brand</h2>
            <h1 style="font-size: 300%;">Unleash Your Style: Stand Out with Every Outfit!</h1>
            <p style="font-size: 200%;">Amazing offers and discounts !!</p>
        </div>
    </section>

    

</body>
</html>