<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs")%>
<body>
    <%- include("../partials/nav.ejs")%>
    <div class="create-blog content">
        <form action="/blogs" method="POST">
            <label for="title">NAME:</label>
            <input type="text" name="title" id="title">

            <label for="snippet">EMAIL ID:</label>
            <input type="text" name="snippet" id="snippet">

            <label for="body">PHONE NO:</label>
            <input type="number" name="body" id="body">

            <button>SUBMIT</button>

        </form>
    </div>
    <div class="blogs content">
        <%blogs.forEach( blog => { %>
            <h3><%= blog.title%></h3>
            <p><%= blog.snippet %></p>
       <% }) %>
    </div>
</body>
</html>