<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs")%>   
<body>
    <%- include("../partials/nav.ejs")%>

    <section id="product" class="p1">
    <div class="pro">
        <h2>PRODUCTS</h2>
    </div>        
        <div class="ab2">
            <div class="ab3">
                <img src="/images/img2.png" alt="" >
                <div class="ab4">
                    <h3>Dress1</h3>
                    <h4>PRICE: Rs.1500</h4>
                </div>
            <a href="#"><i class="fal fa-shopping-bag"></i></a>
            </div>

            <div class="ab3">
                <img src="/images/img3.png" alt="" height="410px">
                <div class="ab4">
                    <h3>Dress2</h3>
                    <h4>PRICE: Rs.1100</h4>
                </div>
            <a href="#"><i class="fal fa-shopping-bag"></i></a>
            </div>

            <div class="ab3">
                <img src="/images/img4.png" alt="" height="410px">
                <div class="ab4">
                    <h3>Dress3</h3>
                    <h4>PRICE: Rs.1300</h4>
                </div>
            <a href="#"><i class="fal fa-shopping-bag"></i></a>
            </div>

            <div class="ab3">
                <img src="/images/img5.png" alt="" height="410px">
                <div class="ab4">
                    <h3>Dress4</h3>
                    <h4>PRICE: Rs.1000</h4>
                </div>
            <a href="#"><i class="fal fa-shopping-bag"></i></a>
            </div>
        </div> 
    </section>

    
</body>
</html>